
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
}
.hight{
    height: 130vh;
    border-bottom: 5px solid red;
}
.hight1{
    height: 100vh;
    border-bottom: 5px solid red;
}
.polo{
    color: white;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
}
 .polo:hover{
    color: red;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-bottom: 4px solid red;
}
.n1{
    color: rgb(253, 4, 4);
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid red;
}
.img1 , .img2 , .img3{
    margin-top: 40px;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(173, 109, 18));
    width: 95%;
}
@media(max-width: 992px) {
    .img1 , .img2 , .img3{
        min-width: 100%;
        height: 300px;
    }
    .hight{
        height: 190vh;
    }
    .hight1{
        height: 155vh;
    }
}